.cardInfo {
  margin-top: 80px;
}

.infoTitle {
  font-size: 27px;
  font-weight: bold;
}

.pageIMg {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  & img {
    width: 800px;
  }
}

.pageText {
  margin-top: 20px;
  width: 1000px;
  line-height: 1.4rem;
  font-weight: 300;
}
